Repository MarcDV1999/finance_tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, end-of-file-fixer, trailing-whitespace, numpydoc-validation, nbstripout

check-yaml:
  name: check yaml
  description: checks yaml files for parseable syntax.
  entry: check-yaml
  language: system
  stages:
  - pre-commit
  - manual

check-toml:
  name: check toml
  description: checks toml files for parseable syntax.
  entry: check-toml
  language: system
  stages:
  - pre-commit
  - manual

end-of-file-fixer:
  name: fix end of files
  description: ensures that a file is either empty, or ends with one newline.
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - manual

trailing-whitespace:
  name: trim trailing whitespace
  description: trims trailing whitespace.
  entry: trailing-whitespace-fixer
  language: system
  stages:
  - pre-commit
  - manual

numpydoc-validation:
  name: numpydoc-validation
  description: This hook validates that docstrings in committed files adhere to numpydoc standards.
  entry: python -m numpydoc.hooks.validate_docstrings
  require_serial: true
  language: system
  stages:
  - pre-commit
  - manual

nbstripout:
  name: strip notebooks outputs
  entry: nbstripout
  language: system
  pass_filenames: true
  stages:
  - pre-commit
  - manual

fix: Cummulative debts between months
  src/main.py
  src/tabs/deutes.py
  src/tabs/salut.py
Due: end-of-file-fixer, trailing-whitespace, numpydoc-validation

feat: Add requirements for deploy
  pyproject.toml
  requirements.txt
Due: check-toml, trailing-whitespace

Added Dev Container Folder
  .devcontainer/devcontainer.json
Due: trailing-whitespace

feat: Add sqlite for expenses
  .gitignore
  pyproject.toml
  requirements.txt
  src/config.py
  src/db/database.py
  src/db/models.py
  src/main.py
  src/tabs/salut.py
  src/tabs/signin.py
Due: check-toml, end-of-file-fixer, trailing-whitespace, numpydoc-validation

feat: Update modify salut
  src/tabs/salut.py
Due: end-of-file-fixer, trailing-whitespace, numpydoc-validation

feat: Update modify salut
  src/db/database.py
  src/tabs/salut.py
Due: end-of-file-fixer, trailing-whitespace, numpydoc-validation

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
  end-of-file-fixer: any of: \.py$, but not: ^data/mlruns/
  trailing-whitespace: any file but: ^data/mlruns/
  numpydoc-validation: any of: \.py$, but not: ^(docs/|notebooks/demo_custom_argparse/)
  nbstripout: any of: \.ipynb$
